@charset "utf-8";
/* CSS Document */

div#ChromeGestureBox.gesture_left {
   position:fixed;
   display:block;
   background-image:url(chrome-extension://chlbjhngbajmncdidibolcjokpchfhlf/gesture_left.png);
   top:50%;
   left:50%;
   margin-top:-50px;
   margin-left:-50px;
   width:100px;
   height:100px;
   z-index:10000;
}
div#ChromeGestureBox.gesture_right {
   position:fixed;
   display:block;
   background-image:url(chrome-extension://chlbjhngbajmncdidibolcjokpchfhlf/gesture_right.png);
   top:50%;
   left:50%;
   margin-top:-50px;
   margin-left:-50px;
   width:100px;
   height:100px;
   z-index:10000;
}
div#ChromeGestureBox.gesture_up {
   position:fixed;
   display:block;
   background-image:url(chrome-extension://chlbjhngbajmncdidibolcjokpchfhlf/gesture_up.png);
   top:50%;
   left:50%;
   margin-top:-50px;
   margin-left:-50px;
   width:100px;
   height:100px;
   z-index:10000;
}
div#ChromeGestureBox.gesture_down {
   position:fixed;
   display:block;
   background-image:url(chrome-extension://chlbjhngbajmncdidibolcjokpchfhlf/gesture_down.png);
   top:50%;
   left:50%;
   margin-top:-50px;
   margin-left:-50px;
   width:100px;
   height:100px;
   z-index:10000;
}
div#ChromeGestureBox.gesture_click {
   position:fixed;
   display:block;
   background-image:url(chrome-extension://chlbjhngbajmncdidibolcjokpchfhlf/gesture_click.png);
   top:50%;
   left:50%;
   margin-top:-50px;
   margin-left:-50px;
   width:100px;
   height:100px;
   z-index:10000;
}
div#ChromeGestureBox.gesture_hide {
   display:none;
}